@model ChatModel

@{
    ViewData["Title"] = "Chat Page";
}

<section class="text-center">
    <h3> Chat con ASP.NET Core SignalR .NET </h3>
</section>

<section class="card mb-3 p-4">
    <h5 class="card-title text-center">Bienvenido </h5>
    <form method="POST" class="card-body">
        <div class="mb-3">
            <label for="msg" class="form-label">Usuario</label>
            <input class="form-control" name="user" id="userInput"></input>
            <label for="msg" class="form-label">Mensaje</label>
            <input class="form-control" name="message" id="messageInput"></input>
        </div>
        <button type="submit" class="btn btn-primary" id="SendMessageBtn">Enviar</button>
    </form>  
</section>

<section class="card">
    <h5 class="card-title text-center">Buzón de mensajes </h5>

    <ul id="messagesList"></ul>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
<script src="~/js/chat_msg.js"></script>