@{
    ViewData["Title"] = "Home";
}

<section class="text-center">
    <h3> Chat con ASP.NET Core SignalR .NET </h3>
</section>

<section>
    <a asp-controller="Chat" asp-action="Index" class="btn btn-primary"> Ingresar al chat </a>
    <hr/>
    <a asp-controller="Files" asp-action="Index" class="btn btn-primary"> Ingresar al chat de archivos </a>
</section>