@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section>
    <article>
        Integrantes:
        <ul>
            <li>
                Crisanto Stalin
            </li>
            <li>
                Lasso Dany
            </li>
            <li>
                Vaca Xavier
            </li>
        </ul>
    </article>    
</section>
